#all-notifications {
    position: fixed;
    top: 0;
    left: 0;
}

.notification-area {
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    pointer-events: none;
}

#top-left, #top-right {
    flex-direction: column;
}

#bottom-left, #bottom-right {
    flex-direction: column-reverse;
}

#top-right, #bottom-right {
    align-items: end;
}


